In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('mymoviedb.csv', lineterminator='\n')
df

## Take A Over View of the Data

In [7]:
df.head()

Empty DataFrame
Columns: [Release_Date, Title, Overview, Popularity, Vote_Count, Vote_Average, Original_Language, Genre, Poster_Url
2021-12-15, Spider-Man: No Way Home, Peter Parker is unmasked and no longer able to separate his normal life from the high-stakes of being a super-hero. When he asks for help from Doctor Strange the stakes become even more dangerous, forcing him to discover what it truly means to be Spider-Man., 5083.954, 8940, 8.3, en, Action, Adventure, Science Fiction, https://image.tmdb.org/t/p/original/1g0dhYtq4irTY1GPXvft6k4YLjm.jpg
2022-03-01, The Batman, In his second year of fighting crime, Batman uncovers corruption in Gotham City that connects to his own family while facing a serial killer known as the Riddler., 3827.658, 1151, 8.1, en.1, Crime, Mystery, Thriller, https://image.tmdb.org/t/p/original/74xTEgt7R36Fpooo50r9T25onhq.jpg
2022-02-25, No Exit, Stranded at a rest stop in the mountains during a blizzard, a recovering addict discovers a kidnapped child hidden in a car belonging to one of the people inside the building which sets her on a terrifying struggle to identify who among them is the kidnapper., 2618.087, 122, 6.3, en.2, Thriller, https://image.tmdb.org/t/p/original/vDHsLnOWKlPGmWs0kGfuhNF4w5l.jpg
2021-11-24, Encanto, The tale of an extraordinary family, the Madrigals, who live hidden in the mountains of Colombia, in a magical house, in a vibrant town, in a wondrous, charmed place called an Encanto. The magic of the Encanto has blessed every child in the family with a unique gift from super strength to the power to heal—every child except one, Mirabel. But when she discovers that the magic surrounding the Encanto is in danger, Mirabel decides that she, the only ordinary Madrigal, might just be her exceptional family's last hope., 2402.201, 5076, 7.7, en.3, Animation, Comedy, Family, Fantasy, https://image.tmdb.org/t/p/original/4j0PNHkMr5ax3IA8tjtxcmPU3QT.jpg
2021-12-22, The King's Man, As a collection of history's worst tyrants and criminal masterminds gather to plot a war to wipe out millions, one man must race against time to stop them., 1895.511, 1793, 7.0, en.4, Action, Adventure, Thriller, War, https://image.tmdb.org/t/p/original/aq4Pwv5Xeuvj6HZKtxyd23e6bE9.jpg
2022-01-07, The Commando, An elite DEA agent returns home after a failed mission when his family makes an unexpected discovery in their house – a stash of money worth $3 million. They soon face the danger and threat of a newly released criminal and his crew, who will do whatever it takes to retrieve the money, including kidnap the agent’s daughters. Stakes are high and lives are at risk in this head-to-head battle as the agent stops at nothing to protect his family against the money-hungry criminals., 1750.484, 33, 6.6, en.5, Action, Crime, Thriller, https://image.tmdb.org/t/p/original/pSh8MyYu5CmfyWEHzv8FEARH2zq.jpg
2022-01-12, Scream, Twenty-five years after a streak of brutal murders shocked the quiet town of Woodsboro, a new killer has donned the Ghostface mask and begins targeting a group of teenagers to resurrect secrets from the town’s deadly past., 1675.161, 821, 6.8, en.6, Horror, Mystery, Thriller, https://image.tmdb.org/t/p/original/kZNHR1upJKF3eTzdgl5V8s8a4C3.jpg
2022-02-10, Kimi, A tech worker with agoraphobia discovers recorded evidence of a violent crime but is met with resistance when she tries to report it. Seeking justice, she must do the thing she fears the most: she must leave her apartment., 1601.782, 206, 6.3.1, en.7, Thriller.1, https://image.tmdb.org/t/p/original/okNgwtxIWzGsNlR3GsOS0i0Qgbn.jpg
2022-02-17, Fistful of Vengeance, A revenge mission becomes a fight to save the world from an ancient threat when superpowered assassin Kai tracks a killer to Bangkok., 1594.013, 114, 5.3, en.8, Action, Crime, Fantasy, https://image.tmdb.org/t/p/original/3cccEF9QZgV9bLWyupJO41HSrOV.jpg
2021-11-03, Eternals, The Eternals are a team of ancient aliens who have been living on Earth in secret for thousands of years. When an unexpected tragedy forces them out of the shadows, they are forced to reunite against mankind’s most ancient enemy, the Deviants., 1537.406, 4726, 7.2, en.9, Science Fiction, https://image.tmdb.org/t/p/original/zByhtBvX99ZiCQhac1sh9d9r6nb.jpg
2022-02-18, Pursuit, Detective Breslin crosses paths with Calloway, a ruthless hacker desperate to find his wife, who has been kidnapped by a drug cartel. When Calloway escapes police custody, Breslin joins forces with a no-nonsense female cop to reclaim his prisoner. But is Calloway’s crime-boss father somehow involved in this explosive situation?, 1500.523, 16, 5.9, en.10, Action, Crime, Thriller.1, https://image.tmdb.org/t/p/original/wYihSXWYqN8Ejsdut2P1P0o97N0.jpg
2021-08-06, My Hero Academia: World Heroes' Mission, A mysterious group called Humarize strongly believes in the Quirk Singularity Doomsday theory which states that when quirks get mixed further in with future generations, that power will bring forth the end of humanity. In order to save everyone, the Pro-Heroes around the world ask UA Academy heroes-in-training to assist them and form a world-classic selected hero team. It is up to the heroes to save the world and the future of heroes in what is the most dangerous crisis to take place yet in My Hero Academia., 1485.064, ...]
Index: []

[0 rows x 78625 columns]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Columns: 78625 entries, Release_Date to https://image.tmdb.org/t/p/original/lBhU4U9Eehr9shstPem6I7BdkxK.jpg
dtypes: object(78625)
memory usage: 132.0+ bytes

### We can see there is NO Null values

### Check for otherthings like duplication, null values, white spaces

In [11]:
df['Genre'].head()

Series([], Name: Genre, dtype: object)

White Spaces are in the DATA, so we have to remove Those

In [12]:
df.duplicated(
)

Series([], dtype: bool)

In [ ]:
df.describe()

#### We Can see There is no null & No Duplicated values in the data set,
#### The Date are in Object data type, so Whe Should Change those in Date time format
#### There are some irrevan collumns for initial Data process like--> 1) URL, 2)Over View, 3) Language. so we can remove those for now

In [ ]:
df['Release_Date'] = pd.to_datetime(df['Release_Date'])