## Core Data Structures in Pandas

## Series â†’ 
#### One-dimensional (like a single column in Excel)

In [13]:
import pandas as pd
data = pd.Series([41,154,2,42,15])
data

0     41
1    154
2      2
3     42
4     15
dtype: int64

#### with INDEX

In [20]:
data = pd.Series([21,54,1,24,44], index = ["Ai", "MS", "GTA", "RDR", "GS"])
data

Ai     21
MS     54
GTA     1
RDR    24
GS     44
dtype: int64

## Data Frames
#### 2D Labeled Table

In [29]:
data = {
    "Name" : ["Alice", "Maga", "Bob"],
    "age" : [12, 23, 41],
    "city" : ["Delhi", "Mumbai", "Pune"]}

df = pd.DataFrame(data)
df

    Name  age    city
0  Alice   12   Delhi
1   Maga   23  Mumbai
2    Bob   41    Pune

In [33]:
data = {
    "Name" : ["Alice", "Maga", "Bob"],
    "age" : [12, 23, 41],
    "city" : ["Delhi", "Mumbai", "Pune"]}

df = pd.DataFrame(data, index = ['As', "Hila", "Kima"])
df

       Name  age    city
As    Alice   12   Delhi
Hila   Maga   23  Mumbai
Kima    Bob   41    Pune