In [4]:
import numpy as np 
import pandas as pd

In [6]:
data = {
    'Category': ['A', 'B', 'A', 'B', 'A', 'B', 'A', 'B'],
    'Store': ['S1', 'S1', 'S2', 'S2', 'S1', 'S2', 'S2', 'S1'],
    'Sales': [100, 200, 150, 250, 120, 180, 200, 300],
    'Quantity': [10, 15, 12, 18, 8, 20, 15, 25],
    'Date': pd.date_range('2023-01-01', periods=8)
}
df = pd.DataFrame(data)

In [8]:
df

  Category Store  Sales  Quantity       Date
0        A    S1    100        10 2023-01-01
1        B    S1    200        15 2023-01-02
2        A    S2    150        12 2023-01-03
3        B    S2    250        18 2023-01-04
4        A    S1    120         8 2023-01-05
5        B    S2    180        20 2023-01-06
6        A    S2    200        15 2023-01-07
7        B    S1    300        25 2023-01-08

In [10]:
cat = df.groupby("Category")

for i, w in cat :
    print(i)
    print(w)

A
  Category Store  Sales  Quantity       Date
0        A    S1    100        10 2023-01-01
2        A    S2    150        12 2023-01-03
4        A    S1    120         8 2023-01-05
6        A    S2    200        15 2023-01-07
B
  Category Store  Sales  Quantity       Date
1        B    S1    200        15 2023-01-02
3        B    S2    250        18 2023-01-04
5        B    S2    180        20 2023-01-06
7        B    S1    300        25 2023-01-08

In [12]:
df.groupby("Category")["Sales"].sum()

Category
A    570
B    930
Name: Sales, dtype: int64

In [14]:
df.groupby("Store")["Sales"].sum()

Store
S1    720
S2    780
Name: Sales, dtype: int64

In [20]:
df.groupby(["Store", "Category"])["Sales"].mean()

Store  Category
S1     A           110.0
       B           250.0
S2     A           175.0
       B           215.0
Name: Sales, dtype: float64

In [24]:
df["Sales"].agg(["sum", "mean", "max", "median"])

sum       1500.0
mean       187.5
max        300.0
median     190.0
Name: Sales, dtype: float64

In [35]:
df.groupby(["Category", "Store"])["Sales"].agg(
    afg_sales = 'mean',
    median_sales = "median"
)

                afg_sales  median_sales
Category Store
A        S1         110.0         110.0
         S2         175.0         175.0
B        S1         250.0         250.0
         S2         215.0         215.0